

@font-face {
    font-family: "Plain Light";
    src: url(./fonts/plain-regular-webfont.ttf);
}

@font-face {
    font-family: "Plain Light";
    src: url(./fonts/plain-light-webfont.ttf);
}

@font-face {
    font-family: "Silk Serif";
    src: url(./fonts/silkserif-regularitalic-webfont.ttf);
}

@font-face {
    font-family: "Silk Serif";
    src: url(./fonts/silkserif-lightitalic-webfont.ttf);
}

*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Plain Light";
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
}
body{
    overflow-x: hidden;
}
.mousefollower{
    border: 15px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    scale: 1.25;
    mix-blend-mode: difference;
}


.loader{
    height: 100%;
    width: 100%;
    z-index: 99999;
    position: fixed;
    padding: 26vh 6vw;
    padding-top: 15vh;
    background-color: #0b0b0b;
}
#line-1st{
    margin-left: 4vw;
}
.line{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    line-height: 1.1;
    gap: 6vw;
}
.line1-part1{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1vw;
}
.line1-part1 h5, .line1-part1 h6{
    font-family: "Silk Serif";
    padding-bottom: 2.2vw;
    font-size: 3.25vw;
    font-weight: 100;
}
.line1-part1 h5{
    width: 5vw;
    text-align: right;
}
.line h1{
    font-size: 6.75vw;
    text-transform: uppercase;
    font-weight: 900;
}
.line:nth-child(3){
    gap: 2vw;
}
.line h2{
    font-size: 6.75vw;
    font-family: 'Silk Serif';
    text-transform: uppercase;
    opacity: 0;
    font-weight: 900;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}
.now{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
#load-para{
    width: 100%;
    padding: 9.5vh 0;
    padding-left: 21vw;
}
.line p{
    font-size: 1vw;
}
@-webkit-keyframes anime {
    0%{
        font-family: "Plain Light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 1;
    }
    45%{
        font-family: "Plain Light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 0;
    }
    50%{
        font-family: "Silk Serif";
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        color: transparent;
        opacity: 1;
    }
    100%{
        font-family: "Silk Serif";
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        color: transparent;
        opacity: 0;
    }
}
@keyframes anime {
    0%{
        font-family: "Plain Light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 1;
    }
    45%{
        font-family: "Plain Light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 0;
    }
    50%{
        font-family: "Silk Serif";
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        color: transparent;
        opacity: 1;
    }
    100%{
        font-family: "Silk Serif";
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        color: transparent;
        opacity: 0;
    }
}


.main{
    position: relative;
    background-color: rgb(21,20,20);
}
.page1{
    height: 90vh;
    /* z-index: 1000; */
    width: 100%;
    background-color: rgb(21,20,20);
}
.nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0vw 5vw;
    height: 8.5vw;
    padding-bottom: 1.5;
}
.nav-left{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: top;
        -ms-flex-align: top;
            align-items: top;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 2.75vw;
    width: 15%;
}
.nav-left i{
    margin-top: 0.25vw;
    font-size: 1.1vw;
}
.nav-center{
    margin-top: 3vw;
    margin-right: 25vw;
    width: 20%;
}
.nav-center h3{
    line-height: 1.1;
    font-family: "Plain";
    font-size: 1vw;
    font-weight: 100;
    width: 30%;
}
.nav-right{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 15%;
    margin-right: 1vw;
    -webkit-box-align: top;
        -ms-flex-align: top;
            align-items: top;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 2.5vw;
}
.nav-right h3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 1vw;
}

.hero{
    width: 70%;
    margin-left: 28%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow-y: hidden;
    position: relative;
    z-index: 1111;
}
.hero:nth-child(2){
    margin-top: 15vh;
}
.hero h1{
    font-size: 7.5vw;
    text-transform: uppercase;
    line-height: 7.25vw;
    position: relative;
}
#hero-1{
    margin-left: 0;
    width: 69.5%;
    text-align: right;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}
#hero-1::before{
    content: "01";
    position: absolute;
    font-size: 3vw;
    font-weight: 100;
    font-family: "silk serif";
    left: 26.5%;
    top: 0%;
}
#hero-3 h2{
    font-size: 7.5vw;
    border-bottom: 0.5vw solid white;
    text-transform: uppercase;
    padding-bottom: 0.75vw;
    line-height: 7.25vw;
    position: relative;
}
#flag{
    position: absolute;
    height: 22vw;
    opacity:0;
    top: 0;
    left: 0;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 1;
}
#hero-3 span{
    font-size: 7.5vw;
    border-bottom: 0.5vw solid white;
    text-transform: uppercase;
    padding-bottom: 0.75vw;
    line-height: 7.25vw;
}
#hero-3 h2:hover{
    -webkit-text-stroke: 1px white;
    font-weight: 500;
    color: transparent;
    border-bottom: 0.5vw solid transparent;
}


.page2{
    height: 100vh;
    /* z-index: 1000; */
    width: 100%;
    background-color: rgb(21,20,20);
}
.vid{
    height: 75vh;
    width: 72vw;
    position: relative;
    top: 30%;
    left: 28%;
    background-size: cover;
    background-position: center;
    background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);
}
.vid video{
    height: 100%;
    width: 100%;
    opacity: 0;
    -o-object-fit: cover;
       object-fit: cover;
}
.video-crsr{
    background-color: #FFA63D;
    height: 10vw;
    width: 10vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 50%;
    position: absolute;
    top: -10%;
    left: 69%;
    z-index: 999;
}
.video-crsr i{
    font-size: 2.5vw;
}


.page3{
    min-height: 100vh;
    z-index: 1000;
    width: 100%;
    background-color: rgb(21,20,20);
    position: relative;
    padding: 6.85vh;
    margin-top: 20vh;
}
.page3 h1 {
    font-size: 7vw;
    text-transform: uppercase;
    position: relative;
    margin-left: 24.5vw;
}
.page3 .underline{
    margin-left: 24.5vw;
    width: 70%;
}
.page3 h1:before{
    content: "03";
    position: absolute;
    font-family: "Silk Serif";
    font-style: italic;
    left: -13%;
    top: 7%;
    font-weight: 500;
    font-size: 3.25vw;
}
.image-div-box{
    padding: 9.5vw 2vw;
    padding-top: 4vw;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2vw;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.olga{
    width: 23vw;
}
.aim{
    width: 31vw;
}
.image-div-box h2{
    text-transform: uppercase;
    font-size: 2.65vw;
    margin-bottom: 2.65vw;
}
.img-description{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 2.25vw 0;
}
.img-description h4{
    line-height: 1.4;
    font-weight: 100;
    font-size: 1vw;
}
.img-underline{
    height: 0.5px;
    width: 100%;
    background-color: white;
}
.image-box{
    height: 29vw;
    width: 23vw;
    position: relative;
    overflow: hidden;
    -ms-flex-negative: 0;
        flex-shrink: 0;
}
.image-box img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
}
.page3-circle{
    height: 23vw;
    width: 23vw;
    border-radius: 50%;
    position: relative;
    border: 1px solid white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: transparent;;
}
.page3-circle svg{
    width: 33%;
    height: 33%;
}
.cir-1{
    margin-top: 54vh;
    margin-left: 8.05vw;
}
.cir-2{
    margin-top: -2vh;
}
.cir-3{
    margin-top: 30vw;
    margin-left: 8vw;
}
.cir-2 svg{
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}
.cir-3 svg{
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
}
.circle-in{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
    background-color: #fff;
    scale: 0;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.circle-in p{
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transition-delay: 0.5s;
         -o-transition-delay: 0.5s;
            transition-delay: 0.5s;
    text-align: center;
    scale: 0;
    color: black;
    font-size: 1vw;
    font-weight: 600;
    width: 90%;
}
.page3-circle:hover .circle-in{
    scale:1;
}
.page3-circle:hover p{
    scale:1;
}
.cir-4{
    background-color: #FFA63D;
    margin-top: 12.5vw;
    position: relative;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    margin-left: 37.5%;
}
.cir-4 p{
    text-align: center;
    font-size: 1vw;
    font-weight: 600;
}
.cir-4 span{
    font-family: "Silk Serif";
    font-style: italic;
    font-weight: 500;
}
.cir-4:hover{
    scale:0.85;
}


.pg-4-content{
    width: 72vw;
    margin-left: 27vw;
}
.pg-4-content h1 {
    font-size: 7vw;
    text-transform: uppercase;
    position: relative;
}
.pg-4-content h1:before{
    content: "03";
    position: absolute;
    font-family: "Silk Serif";
    font-style: italic;
    left: -13%;
    top: 7%;
    font-weight: 500;
    font-size: 3.25vw;
}
.underline{
    height: 1px;
    width: 92%;
    background-color: white;
    margin: 5vw 0;
    margin-bottom: 4vw;
}
.underline-2{
    height: 2px;
    width: 92%;
    background-color: white;
    margin: 10vw 0;
    margin-bottom: 1.5vw;
}
.pg-4-content span{
    font-size: 1vw;
    line-height: 1.45;
    width: 25%;
}
.pg-4-content>p{
    font-size: 2.15vw;
    width: 50%;
}
.pg-4-flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 4vw;
    position: relative;
}
.flex-img{
    width: 45%;
    -o-object-fit: cover;
       object-fit: cover;
    overflow: hidden;
    -o-object-position: center;
       object-position: center;
}
.flex-img img{
    width: 105%;
    height: 95%;
}
.pg-4-flex p {
    font-size: 1vw;
    line-height: 1.45;
    width: 25%;
    margin-left: 2.3vw;
}
.pg-4-blue{
    background-color: #3F7DF4;
    width: 30vw;
    padding: 3.1vw;
    position: relative;
    margin-top: -33vh;
    margin-left: 23.5vw;
}
.blue-div-elem{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 2.1vw 0;
    border-bottom: 4px solid #88b1ff;
}
.blue-div-elem h4{
    font-size: 1.5vw;
    font-weight: 500;
}
.blue-div-elem p{
    width: 50%;
    font-size: 1vw;
}


.page5{
    min-height: 100vh;
    z-index: 1000;
    width: 100%;
    position: relative; 
    margin-top: 2vw;
}
.page5 .elem{
    white-space: nowrap;
    overflow: hidden;
}
.elem h1{
    font-size: 7.75vw;
    text-transform: uppercase;
    -webkit-text-stroke: 1.25px white;
    line-height: 1.1;
    font-weight: 100;
    color: transparent;
    display: inline-block;
    margin-left: 16px;
    -webkit-animation: moving-text 20s linear infinite;
            animation: moving-text 20s linear infinite;
}
.elem span{
    font-style: italic;
    font-family: "Silk Serif";
    color:transparent
}
.elem-rev h1{
    -webkit-transform: translateX(calc(-100% - 20px));
        -ms-transform: translateX(calc(-100% - 20px));
            transform: translateX(calc(-100% - 20px));
    animation: moving-text 28s linear infinite reverse;
}
@-webkit-keyframes moving-text{
    from{
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
    to{
        -webkit-transform: translateX(calc(-100% - 20px));
                transform: translateX(calc(-100% - 20px));
    }
}
@keyframes moving-text{
    from{
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
    to{
        -webkit-transform: translateX(calc(-100% - 20px));
                transform: translateX(calc(-100% - 20px));
    }
}


.footer{
    height: 100vh;
    z-index: 1000;
    width: 100%;
    position: relative;
    padding-left: 27.5vw;
}
.footer-text{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.footer h1{
    text-transform: uppercase;
    font-size: 7.5vw;
    width: 60vw;
    padding-bottom: 4.15vw;
    position: relative;
}
.footer-text h2 {
    font-size: 8vw;
    text-transform: uppercase;
    position: absolute;
    top: -10%;
    font-weight: 500;
    left: 0;
    font-family: "silk serif";
}
.footer-text svg{
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
    width: 5.5vw;
    margin-bottom: 4vw;
}
.footer-text h2 span {
    font-family: "silk serif";
    opacity: 0;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
}
.footer-text:before{
    content: "04";
    position: absolute;
    font-family: "Silk Serif";
    font-style: italic;
    left: -17%;
    top: 7%;
    font-weight: 500;
    font-size: 3.25vw;
}
.footer-content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding:6vw 15vw 6vw 0;
}
.footer-content h6{
    font-size: 1vw;
    padding-bottom: 2.25vw;
}
.box{
    width: 20%;
}
.footer-content h5{
    font-size: 1.7vw;
    font-weight: 500;
    line-height: 1.1;
}
.underline-foot{
    height: 1.5px;
    width: 93%;
    margin-top: 1.5vw;
    background-color: white;
}
.footer>h5{
    font-weight: 500;
    font-size: 1.05vw;
    margin-top: 2vw;
}

._canvas_container{
    z-index: 99999999 !important;
    pointer-events: none;
}




@media (max-width: 600px) {
    .mousefollower{
        display: none;
    }
    .loader{
        z-index: 999999 !important;
        padding: 26vh 4vw;
        padding-top: 40vh;
    }
    #line-1st{
        margin-left: 0;
        display: block;
    }
    .line{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        overflow: hidden;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        line-height: 1.1;
        gap: 6vw;
    }
    .line1-part1{
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        gap: 1vw;
    }
    .line1-part1 h5, .line1-part1 h6{
        padding-bottom: 2.2vw;
        font-size: 3.25vw;
        font-weight: 100;
    }
    .line1-part1 h5{
        width: 5vw;
        text-align: right;
    }
    .line h1{
        font-size: 6.75vw;
        font-weight: 900;
    }
    .line:nth-child(3){
        width: 80%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }
    .line h2{
        font-size: 6.75vw;
    }
    #load-para{
        padding: 6.5vh 0;
        padding-left: 0;
    }
    .line p{
        font-size: 4vw;
    }


    .page1{
        height: 55vh;
        padding-top: 1px;
    }
    .nav{
        padding: 7.5vw 5vw;
        padding-top: 4vw;
        height: 18.5vw;
        position: fixed;
        z-index: 99999;
        top: 0;
    }
    .nav svg{
        width: 16vw;
    }
    .nav-left{
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        width: 100%;
    }
    .nav-left i{
        font-size: 4vw;
    }
    .nav-center{
        display: none;
    }
    .nav-right{
        display: none;
    }
    
    .hero{
        margin-left: 5.5%;
    }
    .hero:nth-child(2){
        height: 13vh;
        margin-top: 11.5vh;
    }
    .hero h1{
        font-size: 10vw;
        line-height: 11vw;
    }
    #hero-1{
        margin-left: 5.5%;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
    }
    #hero-1::before{
        font-size: 4.5vw;
        left: 0%;
        top: 25%;
    }
    #hero-3 h2{
        font-size: 10vw;
        border-bottom: 1vw solid white;
        line-height: 10vw;
    }
    #flag{
        height: 22.5vh;
    }
    #hero-3 h2:hover{
        border-bottom: 1vw solid transparent;
    }
    

    .page2{
        height: 60vh;
    }
    .vid{
        height: 50vh;
        width: 100vw;
        top: 0%;
        left: 0%;
    }
    .video-crsr{
        height: 28vw;
        width: 28vw;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
    }
    .video-crsr i{
        font-size: 6vw;
    }

    .page3{
        min-height: 100vh;
        padding: 9vh 5.5vw;
        padding-top: 4vh;
        margin-top: 0vh;
    }
    .page3 h1 {
        padding-bottom: 3vw;
        font-size: 9vw;
        margin-left: 0;
    }
    .page3 .underline{
        margin-left: 0;
        width: 100%;
    }
    .page3 h1:before{
        content: "02";
        left: 0%;
        top: -60%;
        font-size: 4.5vw;
    }
    .image-div-box{
        padding: 9.5vw 0;
        padding-bottom: 6vw;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .olga{
        width: 100%;
        height: 77vh !important;
    }
    .aim{
        width: 100%;
        height: 77vh !important;
    }
    .makhno{
        height: 69.5vh !important;
    }
    .image-div-box h2{
        font-size: 6vw;
        margin-top: 6.75vw;
        margin-bottom: 0;
    }
    .img-description{
        margin: 2.25vw 0;
        margin-bottom: 7vw;
    }
    .img-description h4{
        font-size: 3.75vw;
    }
    .img-underline{
        height: 0.75px;
    }
    .image-box{
        height: 53vh !important;
        width: 100% !important;
        margin: 6vw 0;
    }
    .image-box img{
        width: auto;
        height: auto;
    }

    .page3-circle{
        height: 45vw;
        width: 45vw;
    }
    .cir-1{
        display: none;
    }
    .cir-2{
        display: none;
    }
    .cir-3{
        display: none;
    }
    .cir-4{
        margin-top: 3vw;
        margin-left: 0;
    }
    .cir-4 p{
        font-weight: 500;
        font-size: 3.75vw;
    }


    .pg-4-content{
        width: 100vw;
        margin-left: 0;
        padding: 7vw 5vw;
        padding-bottom: 7vw;
    }
    .pg-4-content h1 {
        font-size: 9vw;
    }
    .pg-4-content h1:before{
        left: 0%;
        top: -70%;
        font-size: 4.5vw;
    }
    .underline{
        width: 100%;
        margin: 5vw 0;
        margin-bottom: 4vw;
    }
    .underline-2{
        height: 1px;
        width: 100%;
        margin-top: 12vh;
    }
    .pg-4-content span{
        font-size: 3.25vw;
    }
    .pg-4-content>p{
        margin-top: 13vw;
        font-size: 6.5vw;
        width: 100%;
    }
    .pg-4-flex{
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
        margin-top: 8vw;
        gap: 10vw;
    }
    .flex-img{
        height: 50vh;
        width: 100%;
    }
    .flex-img img{
        width: 100%;
        height: 100%;
    }
    .pg-4-flex p {
        font-size: 4vw;
        word-spacing: 1px;
        width: 95%;
        margin-left: 0;
    }
    .pg-4-blue{
        width: 100%;
        padding: 3.1vw;
        padding-bottom: 8vh;
        margin-top: 0;
        margin-left: 0;
    }
    .blue-div-elem{
        padding: 7.5vw 0;
        border-bottom: 1px solid #ffffff;
    }
    .blue-div-elem h4{
        font-size: 4vw;
    }
    .blue-div-elem p{
        font-size: 4vw;
    }


    .page5{
        min-height: 38vh;
        margin-top: 5vw;
    }
    .elem h1{
        font-size: 10vw;
        -webkit-text-stroke: 1px white;
        line-height: 1.1;
        -webkit-animation: moving-text 25s linear infinite;
                animation: moving-text 25s linear infinite;
    }


    .footer{
        height: 88vh;
        width: 100%;
        padding: 0 5vw;
    }
    .footer h1{
        font-size: 9.5vw;
        width: 67vw;
        padding-bottom: 5vw;
    }
    .footer-text h2 {
        font-size: 10vw;
    }
    .footer-text svg{
        width: 6.5vw;
    }
    .footer-text:before{
        left: 0%;
        top: -45%;
        font-size: 4.5vw;
    }
    .footer-content{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 10vw;
        padding: 15vw 0;
    }
    .footer-content h6{
        font-size: 4.25vw;
        font-weight: 500;
        padding-bottom: 5vw;
    }
    .box{
        width: 56.25%;
    }
    .footer-content h5{
        font-size: 6vw;
    }
    .underline-foot{
        height: 1px;
        width: 100%;
    }
    .footer>h5{
        font-size: 4.25vw;
        margin-top: 10vw;
    }
}
